
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="APP Caranya My Id, Web Aplikasi Yang Berguna Untuk 1000 Umat" />
    <meta name="author" content="AgustD" />
    <meta content='#007FFF' name='theme-color'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <base target="_blank"/>
    <title>About Me - HansDeveloper API</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins');
      *{
        font-family: 'Poppins', sans-serif;
      }
    </style>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient shadow mb-3">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">Hans Developer API</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://hans-apikey.herokuapp.com">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://hans-apikey.herokuapp.com/about">About</a>
            </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://youtube.com/mszpros">YouTube</a>
            </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://instagram.com/mszpros">Instagram</a>
</li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://Github.com/hansbotdev">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">About Me</h2>
      <div class="card-body">
      <div class="text-center">
        <img src="https://avatars.githubusercontent.com/u/80545133" class="rounded-circle shadow mb-3" alt="Hans Developer" width="150px" height="150px">
      </div>
        <p class="card-text text-shadow">Hai Semuanya Selamat Datang Di WEB API HansDeveloper.<br/>Terima Kasih Telah Menggunakan WEB API Ini.<br/>Terima Kasih Juga Untuk Zahir Yang Sudah Menyediakan Template WEB API.<br/>Saya Bukanlah Programmer,Tapi Hanya Hobby Untuk Mengisi Waktu Luang Saya.<br/>
        Terima Kasih Juga Buat Temen - Temen Yang Sudah Dukung Dan Support.<br/><b>Semoga Dengan Adanya WEB API Ini Bisa Memudahkan Kalian Untuk Membuat WhatsApp BOT</b><br/>Semoga Rest API Ini Dapat Berkembang Lebih Baik Lagi :)<br/>Terimakasih.</p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
